:database: "sqlite3:///./blog.db"
:domain: domain.com
:max_posts_per_month: 10
:username: admin
:password: pass
:dreamhost: true
:production_gems_path: "/home/domain/.gems"
:mail:
  :to: someone@someone.com
  :from: contact@domain.com
  :subject: Contact form filled out on domain.com