%h2 About

:markdown
  I am a husband, designer, and nerd.

  I run [The Myobie Corporation](http://myobie.com) and make really cool stuff that runs online.

  You can follow me on [twitter](http://twitter.com/myobie) and [flickr](http://flickr.com/photos/myobie) as well.

  Feel free to email me at nathan at myobie dot com.